:root {
  --color-accent: oklch(0.7311 0.1327 231.18);
  accent-color: var(--color-accent);
}

html, body { height: 100%; margin: 0; padding: 0; }

body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  font: 100%/1.5 system-ui;
  max-width: 80ch;
  margin-inline: auto;
}

/* the image is too large so I went ahead to scale it/ make it pretty */
.scale40 {
  /* width: 30% of page; */
  width: 40%;
  height: auto;
  display: block;
  margin: 20px 0 20px 20px;
  border-radius: 8px;
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto 1em;
  padding: 0.5em 0 0;
  border-bottom: 1px solid oklch(80% 3% 200);
  /* border-bottom: none; */
  color: #222;
}
/* the grey rule under the whole nav */
/* nav::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: oklch(80% 0.03 200);
} */

nav ul {
  list-style: none;
  display: flex;
  /* justify-content: space-around; */
  width: min(90vw, 800px);
  padding: 0;
  margin: 0;
}

nav li {flex: 1;}

nav a {
  position: relative;
  display: block;
  width: 100%;
  text-decoration: none;
  text-align: center;
  color: inherit;
  line-height: 1;
  padding: 0.5e 0;
  transition: color 0.2s ease;
}
nav a:hover {
  color: var(--color-accent); background-color: oklch(from var(--color-accent) 95% 5% h)}

nav a.current {
  border-bottom: 0.4em solid var(--color-accent);
  padding-bottom: 0;
  /* margin-bottom: -0.4em; */
  font-weight: bold;
}

embed {
  display: block;
  width: 100dvh;
  height: 90dvh;
  margin: 20px 0 20px 20px;
}

/* .pdf-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
} */

/* mod the div for the embed */
.pdf-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100dvh - 140px);
  box-sizing: border-box;
  margin-top: 40px;
  padding: 10px 0;
}

/* mod the pdf  */
.pdf-view {
  width: min(90vw, 1000px); /*take the min between a size or the % width*/
  height: 95%;
  border: none;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  margin-inline: auto;
}

h1 {padding-left: 20px;}
p {padding-left: 20px;}