body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  font: 100%/1.5 system-ui;
}

/* the image is too large so I went ahead to scale it/ make it pretty */
.scale30 {
  /* width: 30% of page; */
  width: 30%;
  height: auto;
  display: block;
  margin: 20px 0 20px 20px;
  border-radius: 8px;
}

/* unorg list format */
nav ul {
  list-style-type: disc;
  padding-left: 20px;
}

/* line format for the nav */
nav li {
  margin-bottom: 10px;
}

/* format for anchor */
nav a {
  text-decoration: none;
  color: darkblue;
}

/* reaction on clicking */
nav a:hover {
  color: orange;
}

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

embed {
  display: block;
  width: 100dvh;
  height: 90dvh;
  margin: 20px 0 20px 20px;
}

/* .pdf-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
} */

html, body { margin: 0; padding: 0; }

/* mod the div for the embed */
.pdf-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100dvh - 140px);
  box-sizing: border-box;
  margin-top: 40px;
  padding: 10px 0;
}

mod the pdf 
.pdf-view {
  width: min(90vw, 1000px); /*take the min between a size or the % width*/
  height: 95%;
  border: none;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}

h1 {
  padding-left: 20px;
}
p {
  padding-left: 20px;
}